.segment-button{background-color:#f5f5f5;}

ion-list.raceList {
    margin-bottom: 0;
    + ion-list {
        margin-top: 0;
    }
}
.toolbar-background{
  //background:#f3f3f3;
}
.cards-bg {
  background-color: $card-bg;
    //background-color: #f4f4f7;
    p {
        + p {
            margin-top: 1em;
        }

        +ul{
          margin-top:0;
        }
    }
}
.subraceColor {
    color: map-get($colors, 'primary');
    p {
        color: map-get($colors, 'primary');
    }
}
ion-card {
    ion-item {
        h2 {
            color: #333333;
            font-weight: 800 !important;
        }
    }
}
.racialTraits{
  ion-label{
    white-space:normal;
    overflow:visible;
  }
}
