ion-list.raceList {
    margin-bottom: 0;
    + ion-list {
        margin-top: 0;
    }
}
.cards-bg {
    background-color: #f4f4f7;
    p {
        + p {
            margin-top: 1em;
        }

        +ul{
          margin-top:0;
        }
    }
}
.subraceColor {
    color: map-get($colors, highlight);
    p {
        color: map-get($colors, highlight);
    }
}
ion-card {
    ion-item {
        h2 {
            color: #333333;
            font-weight: 800 !important;
        }
    }
}
.racialTraits{
  ion-label{
    white-space:normal;
    overflow:visible;
  }
}
