.segment-button {
    background-color: #f5f5f5;
}

ion-list.raceList {
    margin-bottom: 0;
    + ion-list {
        margin-top: 0;
    }
}

/*.toolbar-background {
    //background:#f3f3f3;
}*/

.abilities.gu-transit {
    background-color: color($colors, secondary, base);
    color: color($colors, secondary, contrast);
}
.numberLabel{display:inline-block;width:30px;}
.abilityLabel{display:inline-block;margin-left:1em}
div.abilities {
    padding: 12px 8px 13px;
    background-color: color($colors, light);
    border-bottom: 1px solid color($colors, dark);
}

.rollCol {
    ion-item {
        text-align: center;
        padding:0;
    }
    ion-label {
        overflow: visible;
    }
}

.cards-bg {
    background-color: color($colors, card-bg);
    //background-color: #f4f4f7;
    p {
        + p {
            margin-top: 1em;
        }
        +ul {
            margin-top: 0;
        }
    }
}

.subraceColor {
    color: color($colors, danger);
    p {
        color: color($colors, danger);
    }
}

ion-card {
    ion-item {
        h2 {
            color: #333333;
            font-weight: 800 !important;
        }
    }
}

.racialTraits, .wrap {
    ion-label {
        white-space: normal;
        overflow: visible;
    }
}